<div class="min-h-screen bg-gray-100 p-8">
  <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6 text-blue-600">Gerenciador de Imagens</h1>

    <div class="mb-8 p-4 border-2 border-dashed border-gray-300 rounded-lg">
      <input type="file" (change)="onFileSelected($event)" class="mb-2 block w-full text-sm text-gray-500">
      <button (click)="upload()" 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition">
        Enviar Arquivo
      </button>
      <p *ngIf="message" class="mt-2 text-sm font-semibold text-orange-500">{{ message }}</p>
    </div>

    <h2 class="text-xl font-semibold mb-4">Arquivos no Servidor</h2>
      <div class="space-y-3">
  <div *ngFor="let file of files" class="flex justify-between items-center p-3 bg-white rounded border hover:shadow-sm transition">
    
    <div class="flex items-center gap-4">
      <img 
        [src]="'http://localhost:3000/drive/' + file.filename" 
        alt="Preview"
        class="w-16 h-16 object-cover rounded-md border bg-gray-200"
      />
      
      <div>
        <p class="text-sm font-semibold text-gray-500">
          {{ file.size / 1024 | number:'1.0-1' }} KB
        </p>
      </div>
    </div>

    <button (click)="deleteFile(file.filename)" 
      class="text-red-500 hover:text-red-700 text-sm font-bold uppercase">
      Remover
    </button>

  </div>
</div>
  </div>
